.input-card {
    padding: 40px 60px;
    width: fit-content;
    box-shadow: var(--shadow-custom);
    border-radius: 25px;
}

.input-card > * {
    margin: 20px 0;
}

.emojis {
    display: flex;
    margin: 30px 0;
    border: none;
    padding: 0;
}


.emojis label {
  font-size: 40px;
  cursor: pointer;
  padding: 10px;
  transition: transform 0.2s ease;
}

.emojis input[type="radio"] {
  display: none;
}

.emojis input[type="radio"]:checked + label {
  transform: scale(1.3);
  filter: drop-shadow(0 0 5px gold);
}

.emojis a {

}

.emojis a:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}


.input-card h1, p {
    margin: 20px 0;
}

.emojis img {
    width: 50px;
}

.input-card h1 {
    font-family: var(--heading-1);
    color: var(--text-color-light)
}

.input-card p {
    font-family: var(--heading-2);
    color: var(--text-color-light)
}

#note {
    box-sizing: border-box;
    font-family: inherit;
    font-size: 14px;
    vertical-align: baseline;
    font-weight: 400;
    line-height: 1.29;
    letter-spacing: .16px;
    border-radius: 0;
    outline: 2px solid transparent;
    outline-offset: -2px;
    width: 100%;
    height: 40px;
    border: none;
    border-bottom: 1px solid #8d8d8d;
    background-color: #f4f4f4;
    padding: 0 16px;
    color: #161616;
    transition: background-color 70ms cubic-bezier(.2,0,.38,.9),outline 70ms cubic-bezier(.2,0,.38,.9);  
    :focus{
        outline: 2px solid #0f62fe;
        outline-offset: -2px;
    }    
}

#note::placeholder{
    font-style: italic;
    font-family: var(--body-text2)
}

/* the Container for Input and Chart Card */

.bottom-container {
    display: flex;
    gap: 20px;
    padding: 20px 30px;
    height: fit-content;
    flex-wrap: wrap;
}

/*  Container for the Quote Card and Them Changer */
.top-container {
    display: flex;
    gap: 20px;
    padding: 20px 30px;
    height: fit-content;
    /* border: 1px solid black; */
}

/* The Chart Card */

.chart-card {
    padding: 20px 40px;
    width: fit-content;
    box-shadow: var(--shadow-custom);
    border-radius: 25px;
    flex: 1;
}

.chart-card h1 {
    font-family: var(--heading-1);
    color: var(--text-color-light)
}

.chart-card p {
    font-family: var(--heading-2);
    color: var(--text-color-light)
}

/* Quote Card */

.quote-card {
    padding: 40px 50px;
    width: fit-content;
    box-shadow: var(--shadow-custom);
    border-radius: 25px;
}

.quote-card h1 {
    font-family: var(--heading-1);
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    color: var(--text-color-light)
}

.quote-card p {
    font-family: var(--heading-2);
    color: var(--text-color-light)
}

#submit-mood {
    background-color: var(--primary-color);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    font-family: var(--heading-2);
}

 /* Pie Chart*/
.pie-chart {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px auto;
  background: conic-gradient(
    #ff6384 0% 15%,
    #36a2eb 15% 25%,
    #cc65fe 25% 35%,
    #ffce56 35% 50%,
    #4bc0c0 50% 70%,
    #9966ff 70% 85%,
    #ff9f40 85% 100%
    );
}


.chart {
    display: flex;
    align-items: center;
}

.legend {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
    height: fit-content;
    padding: 10px 20px;
}

.legend-item {
    display: flex;
    align-items: center;
    gap: 10px;
}

.legend-color {
    width: 20px;
    height: 20px;
    border-radius: 50%;
}

.legend-label {
    font-family: var(--heading-2);
    color: var(--text-color-light);
    display: flex;
    gap: 5px;
    
}

.legend-label span {
    font-weight: 700;
    color: var(--primary-color);
    border-left: 1px solid var(--text-color-light);
    padding-left: 5px;
}

@media screen and (max-width: 560px) and (min-width: 300px) {
  .input-card {
    padding: 20px 30px;
    width: 100%;
  }
  .chart-card {
    padding: 20px 30px;
    width: 100%;
  }
  .emojis {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .chart {
    flex-direction: column;
  }
}