.quote-card {
    padding: 20px 40px;
    width: fit-content;
    box-shadow: var(--bg-custom) 1.95px 1.95px 2.6px;
    border-radius: 25px;
}

.quote-card > * {
    margin: 20px 0;
}

.emojis {
    display: flex;
    gap: 10px;
    margin: 30px 0;
}

.emojis a {

}

.emojis a:hover {
    transition: 0.5s ease-in-out;
    transform: scale(1.2);
    cursor: pointer;
}


.quote-card h1, p {
    margin: 20px 0;
}

.emojis img {
    width: 50px;
}

.quote-card h1 {
    font-family: var(--heading-1);
    color: var(--text-color-light)
}

.quote-card p {
    font-family: var(--heading-2);
    color: var(--text-color-light)
}
